<tr>
  <%= render('shared/orientations/tbody', orientation: orientation) %>
  <td>
    <%= link_to(professors_supervision_path(orientation)) do %>
      <i class="fe fe-search" data-toggle="tooltip" title="Show"></i>
    <% end %>
    <%= link_to(edit_professors_supervision_path(orientation)) do %>
      <i class="fe fe-edit" data-toggle="tooltip" title="Editar"></i>
    <% end %>
  </td>
</tr>
