<% provide(:page_title, t('breadcrumbs.supervisions.history')) %>
<% provide(:head_title, t('breadcrumbs.supervisions.history')) %>

<div class="row">
  <div class="col-sm-12 col-lg-8">
    <%= render 'shared/orientations/search', url: professors_supervisions_search_history_path, search_term: params[:term] %>
  </div>
</div>

<% cache(@orientations) do %>
  <%= render Orientations::TableComponent.new(
    orientations: @orientations,
    namespace: :professors,
    path_helper: :professors_supervision_path,
    service_class: 'Orientations::Links::SupervisionService'
  ) %>
<% end %>
