<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= active_link_to(external_members_examination_boards_tcc_one_path(status: 'current_semester'), class: 'nav-link') do %>
      <%= t('views.tabs.tcc.one') %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= active_link_to(external_members_examination_boards_tcc_two_path(status: 'current_semester'), class: 'nav-link') do %>
      <%= t('views.tabs.tcc.two') %>
    <% end %>
  </li>
</ul>
