<tr>
  <%= render 'shared/meetings/tbody', meeting: meeting %>
  <td>
    <%= link_to(academics_meeting_path(meeting)) do %>
      <i class="fe fe-search" data-toggle="tooltip" title="<%= t('titles.show') %>"></i>
    <% end %>
  </td>
</tr>
