<tr>
  <td>
    <%= link_to(activity.name, responsible_orientation_calendar_activity_path(@orientation, @calendar, activity)) %>
  </td>
  <%= render 'shared/orientation_activities/tbody', activity: activity %>
</tr>
