<div class="col-md-2 col-sm-5">
	<div class="sticky-top list-group list-group-transparent pt-2">
    <%= active_link_to(academics_root_path, active: :exact, class: 'list-group-item list-group-item-action') do %>
      <span class="icon mr-3">
        <%= icon('fas', 'home') %>
      </span>
      <%= t('breadcrumbs.homepage') %>
    <% end %>
  </div>
</div>
