<%= form_with url: url, method: :get, local: true, class: "d-flex" do %>
  <div class="input-group input-icon">
    <%= text_field_tag :term, search_term,
                       class: "form-control",
                       placeholder: t("messages.search") %>

    <div class="input-group-append">
      <%= button_tag type: "submit", class: "btn btn-outline-primary", id: "search", name: nil do %>
        <i class="fe fe-search"></i>
      <% end %>
    </div>
  </div>

  <div class="ml-4">
    <%= select_tag "status",
                   options_for_select(
                     [[t('prompt.select.all.f'), ""]] +
                     Orientation.select_status_data.map { |key, label| [label, key] },
                     selected: params[:status]
                   ),
                   class: "form-control min-w-max",
                   id: "orientation_status",
                   data: { controller: "utils--slim-select",
                           action: "utils--slim-select#submitForm", } %>
  </div>
<% end %>
