<tr>
  <td><%= link_to t("enums.semester.#{calendar.year_with_semester}"), responsible_calendar_path(calendar) %></td>
  <td><%= t("enums.tcc.#{calendar.tcc}") %></td>
  <td><%= short_date(calendar.created_at) %></td>
  <td>
    <%= render 'shared/links',
      resource_link: responsible_calendar_path(calendar),
      edit_link: edit_responsible_calendar_path(calendar) %>
  </td>
</tr>
