<div class="col-sm-12 col-md-3 col-lg-2 collapse d-md-flex align-items-start" id="headerMenuCollapse">
  <div class="list-group list-group-transparent mb-2 sidebar">
    <%= yield %>
  </div>
</div>

