<tr>
  <td>
    <%= link_to ("enums.semester.#{calendar.year_with_semester}"), tcc_one_professors_calendar_activities_path(calendar) %>
  </td>
  <td><%= short_date(calendar.created_at) %></td>
  <td>
    <%= link_to(tcc_one_professors_calendar_orientations_path(calendar)) do %>
      <i class="fas fa-file-alt" data-toggle="tooltip" title="Visualizar orientações"></i>
    <% end %>
  </td>
</tr>