<% unless @activities.empty? %>
  <div class="card col-12">
    <div class="card-header">
      <h3 class="card-title col-sm-8">
        <b><%= t('breadcrumbs.activities.recent') %></b>
      </h3>
    </div>
    <div class="table-sm table-responsive">
      <%= render 'shared/activities/table' %>
    </div>
  </div>
<% end %>



