<% provide(:page_title, t('breadcrumbs.academics.index')) %>
<% provide(:head_title, t('breadcrumbs.academics.index')) %>


<div class="clearfix">
  <%= link_to(new_responsible_academic_path, class: 'btn btn-outline-primary float-right') do %>
    <i class="fe fe-plus"></i>
    <%= t('breadcrumbs.academics.new') %>
  <% end %>
</div>

<datatable
  :page="<%= @page %>"
  url="<%= responsible_academics_path %>"
  :head="['name', 'email', 'ra']"
/>

