<div class="legend mt-3">
  <p> <span class="status badge-today"></span> Será hoje </p>
  <p> <span class="status badge-minutes"></span> Será em alguns minutos</p>
  <p> <span class="status badge-passad"></span> Já ocorreu</p>
</div>
