<h6 class="my-3"><%= t('views.sidebar.orientations') %></h6>

<%= active_link_to(professors_root_path, active: :exact, class: 'list-group-item list-group-item-action') do %>
	<span class="icon mr-3">
		<%= icon('fas', 'home') %>
	</span>
	<%= t('breadcrumbs.homepage') %>
<% end %>
