<span class="p-2 my-2 badge badge-primary">
  <%= t('views.sidebar.orientations') %>
</span>

<%= active_link_to(professors_root_path, active: :exact, class: 'list-group-item list-group-item-action') do %>
  <span class="icon mr-3">
    <%= icon('fas', 'home') %>
  </span>
  <%= t('breadcrumbs.homepage') %>
<% end %>
