<div class="col-lg-3 mb-4">
  <div class="list-group list-group-transparent mb-0">
    <% if current_professor.role?('responsible') %>
      <%= render 'layouts/professors/responsible_menu' %>
    <% end %>
    <%= render 'layouts/professors/professor_menu' %>
    <% if current_professor.role?('tcc1') %>
      <%= render 'layouts/professors/professor_tcc1_menu' %>
    <% end %>
  </div>
</div>
