<% unless @meetings.empty? %>
  <div class="card col-12">
    <div class="card-header">
      <h3 class="card-title">
        <b><%= t('breadcrumbs.meetings.recent') %></b>
      </h3>
    </div>
    <div class="table-responsive">
      <%= render 'shared/meetings/table' %>
    </div>
  </div>
<% end %>
