.site-table {
  font-size: 14px;
}

.examination-board-table {
  font-size: 12px;

  table {
    td {
      padding: 0.4rem 0.2rem;
    }

    td.td-center {
      vertical-align: middle;
      text-align: center;
    }
  }
}
