<tr>
  <%= render 'shared/examination_boards/tbody', examination_board: examination_board %>
  <td>
    <%= render 'shared/links',
      resource_link: tcc_one_professors_examination_board_path(examination_board),
      edit_link: edit_tcc_one_professors_examination_board_path(examination_board) %>
  </td>
</tr>
