/*************************************************************
* Gems
**************************************************************/
/*@import "bootstrap"; bootstrap is added by tabler*/
@import "font-awesome";
@import "tempusdominus-bootstrap-4";

/*************************************************************
* Vendors stylesheets
**************************************************************/
@import "simplemde/simplemde.min";
@import "selectize/selectize.min";

/*************************************************************
* Configurations
**************************************************************/
@import "config/tabler";

/*************************************************************
* Customizations
**************************************************************/
@import "customizations/simple_form_bootstrap";
@import "customizations/simplemde";
@import "customizations/bootstrap";
@import "customizations/icons";

/*************************************************************
* Apps stylesheets
**************************************************************/
@import "fontawesome/fontawesome-picker";
@import "lib/image_preview";
@import "errors/errors";
@import "sidebar";
@import "inputs";
@import "input_range";
@import "links";
@import "document";
@import "components";
@import "images";
@import "lib/utils";
