<div class="container-fluid fixed-top header py-4">
  <div class="d-flex">
    <%= link_to root_path, class: 'header-brand ml-5' do %>
      <% image_tag 'tsi.png', class: 'header-brand-img', alt: 'logo-tsi'  %>
    <% end  %>
    <%= render '/layouts/shared/responsive_menu_toggle' %>
  </div>
</div>

