<div class="col-sm-12 col-md-3 order-md-3 mb-4 collapse d-md-flex align-items-start" id="headerMenuCollapse">
  <div class="sidebar">
    <sidebar-draggable :has-permission="<%= current_professor&.responsible?.to_json %>" />
  </div>
</div>

