<div
  data-controller="signature-button"
  data-signature-button-show-title-value="<%= show_title %>"
  class="border border-primary rounded p-4 mb-2"
>
  <div class="float-left">
    <strong>Assinar documento</strong>
    <p>Este documento será assinado eletronicamente.</p>
  </div>

  <button
    class="btn btn-outline-primary float-right mb-2"
    data-action="click->signature-button#openLoginConfirmation"
  >
    Assinar documento
  </button>

  <div class="clearfix"></div>
  <hr class="m-0">
</div>
