<div
  id="signature-confirm"
  data-controller="signature-confirm"
  data-signature-confirm-label-value="<%= label %>"
  data-signature-confirm-url-value="<%= url %>"
  class="col col-login mx-auto mb-3 d-none"
>
  <div class="card-body p-6 border border-secondary rounded">
    <div class="card-title">
      <h5 class="text-center">
        Entre com seu <span data-signature-confirm-target="labelText"></span> e senha para assinar o documento.
      </h5>
    </div>

    <div class="form-group">
      <label class="form-label">
        <span data-signature-confirm-target="labelTextInput"></span>
      </label>
      <input data-signature-confirm-target="login" type="text" class="form-control" autocomplete="off" />
    </div>

    <div class="form-group">
      <label class="form-label">Senha</label>
      <input
        data-signature-confirm-target="password"
        type="password"
        class="form-control"
        data-action="keyup.enter->signature-confirm#confirmLogin"
      />
    </div>

    <div class="form-footer">
      <button class="btn btn-primary btn-block" data-action="click->signature-confirm#confirmLogin">
        Assinar
      </button>
      <button class="btn btn-outline-danger btn-block" data-action="click->signature-confirm#close">
        Cancelar
      </button>
    </div>
  </div>
</div>
