<div class="border border-primary rounded p-4 mb-2">
  <div class="float-left">
    <strong>Assinar documento</strong>
    <p>Este documento será assinado eletronicamente.</p>
  </div>

  <%= link_to "Assinar Documento", academics_new_document_sign_path(@document),
              class: "btn btn-outline-primary float-right mb-2" %>

  <div class="clearfix"></div>
  <hr class="m-0">
</div>
