<div class="row mb-6">
  <div class="col-md-4 col-sm-4">
    <%= image_tag document_logo_url(document), alt: "utfpr_logo", class: "img-fluid mb-2", style: "width: 350px;" %>
  </div>
  <div class="col-md-8 col-sm-8">
    <p class="m-0">Ministério da Educação</p>
    <p class="m-0">Universidade Tecnológica Federal do Paraná</p>
    <p class="m-0">Câmpus Guarapuava</p>
    <p class="m-0">Curso Superior de Tecnologia em Sistemas para Internet</p>
  </div>
</div>