<% provide(:page_title, t('breadcrumbs.documents.requests.tdo.show')) %>
<% provide(:head_title, t('breadcrumbs.documents.requests.tdo.show')) %>

<div class="card">
  <div class="card-body">
  </div>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'),
    professors_requests_path,
    class: 'btn btn-secondary' %>
</div>

