<turbo-frame id="flash">
  <% flash.each do |type, message| %>
    <% bootstrap_class = {
         notice: "info",
         success: "success",
         error: "danger",
         alert: "warning"
       }[type.to_sym] || "info" %>

    <div
      data-controller="flash"
      class="alert alert-<%= bootstrap_class %> alert-dismissible fade show"
      role="alert"
    >
      <%= message %>
      <button class="btn-close" data-action="flash#close" aria-label="Close"></button>
    </div>
  <% end %>
</turbo-frame>
