<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> alert-dismissible">
    <button data-dismiss="alert" class="close"></button>
    <%= message %>
  </div>
<% end %>
