<td><%= signature.orientation.title %></td>
<td><%= signature.orientation.academic.name %></td>
<td><%= signature.document.document_type.name %></td>
<td><%= short_date(signature.created_at) %></td>

