<% provide(:page_title, t('breadcrumbs.signatures.show')) %>
<% provide(:head_title, t('breadcrumbs.signatures.show')) %>

<% unless @signature.status %>
  <div>
    <signature-button />
  </div>

  <div>
    <login-confirmation
      url="<%= academics_signature_confirm_path(@signature) %>" />
  </div>
<% end %>

<div>
  <%= render 'shared/signatures/component', signature: @signature %>
</div>

<div class="d-flex">
  <%= link_to t('simple_form.buttons.back'),
    academics_signatures_pending_path,
    class: 'btn btn-secondary' %>
</div>

