<tr>
  <td>
    <%= link_to(activity.name, academics_calendar_orientation_activity_path(@calendar, @orientation, activity)) %>
  </td>
  <%= render 'shared/orientation_activities/tbody', activity: activity %>
</tr>
