database: &database
  db.username: postgres
  db.password: postgres
  db.host: localhost

mailer: &mailer
  mailer.host: localhost
  mailer.host.port: '3000'
  mailer.smtp: 'smtp.mailtrap.io'
  mailer.smtp.port: '2525'
  mailer.domain: 'smtp.mailtrap.io'
  mailer.username: 'username'
  mailer.password: 'password'
  mailer.authentication: 'cram_md5'

ldap: &ldap
  ldap.on: 'false'
  ldap.host: localhost
  ldap.port: '3389'
  ldap.base: ''

development:
  <<: *database
  <<: *mailer
  <<: *ldap

test:
  <<: *database
  <<: *mailer
  <<: *ldap

production:
  <<: *database
  mailer.host: sgtcc.gp.utfpr.edu.br
  mailer.port: '80'
  <<: *ldap
