database: &database
  db.username: postgres
  db.password: postgres
  db.host: db

mailer: &mailer
  mailer.from: 'tcc-tsi-gp@utfpr.edu.br'
  mailer.host: localhost
  mailer.host.port: '3000'
  mailer.smtp: 'smtp.mailtrap.io'
  mailer.smtp.port: '2525'
  mailer.smtp.domain: 'smtp.mailtrap.io'
  mailer.smtp.username: 'username'
  mailer.smtp.password: 'password'
  mailer.smtp.authentication: 'cram_md5'
  mailer.exception.prefix: '[SGTCC]'
  mailer.exception.sender: 'SGTCC <tcc-tsi-gp@utfpr.edu.br>'
  mailer.exception.recipient: 'tcc-tsi-gp@utfpr.edu.br'

ldap: &ldap
  ldap.on: 'false'
  ldap.host: localhost
  ldap.port: '3389'
  ldap.base: ''

development:
  <<: *database
  <<: *mailer
  <<: *ldap

test:
  <<: *database
  <<: *mailer
  <<: *ldap

production:
  <<: *database
  mailer.host: sgtcc.gp.utfpr.edu.br
  mailer.port: '80'
  <<: *ldap
