<tr>
  <%= render 'shared/examination_boards/tbody', examination_board: examination_board %>
  <td>
    <%= render 'shared/links',
      resource_link: responsible_examination_board_path(examination_board),
      edit_link: edit_responsible_examination_board_path(examination_board) %>
  </td>
</tr>
