<div class="col-sm-12 col-lg-4">
    <% if request.path == responsible_examination_boards_tcc_one_path %>
        <%= link_to(responsible_examination_boards_new_tcc_one_path, class: 'btn btn-outline-primary d-block') do %>
        <i class="fe fe-plus"></i>
        <%= t('breadcrumbs.examination_boards.tcc.one.new') %>
        <% end %>
    <% end %>
    <% if request.path == responsible_examination_boards_tcc_two_path %>
        <%= link_to(responsible_examination_boards_new_tcc_two_path, class: 'btn btn-outline-primary d-block') do %>
            <i class="fe fe-plus"></i>
            <%= t('breadcrumbs.examination_boards.tcc.two.new') %>
        <% end %>
    <% end %>
  </div>