<div
  data-controller="charts--bar"
  data-charts--bar-series-value="<%= @series.to_json %>"
  data-charts--bar-options-value="<%= chart_options.as_json.to_json %>"
  data-charts--bar-height-value="<%= @height %>">
</div>
