<div
  data-controller="chart--bar-chart"
  data-chart--bar-chart-series-value="<%= @series.to_json %>"
  data-chart--bar-chart-options-value="<%= chart_options.as_json.to_json %>"
  data-chart--bar-chart-height-value="<%= @height %>">
</div>
