<div class="error-page">
  <div class="container text-center">
    <div class="display-1 text-muted mb-5">
      <i class="si si-exclamation"></i> 404
    </div>

    <h1 class="h2 mb-3">
      <%= t('errors.page_not_found.label') %>
    </h1>

    <p class="h4 text-muted font-weight-normal mb-7">
      <%= t('errors.page_not_found.message') %>
    </p>

    <%= link_to root_path, class: 'btn btn-primary' do %>
      <i class="fe fe-arrow-left mr-2"></i><%= t('links.back') %>
    <% end %>
  </div>
</div>
