<% if !@examination_board.all_evaluated? %>
  <%= provide(:evaluated_status) do %>
    <div class="card card-body mb-2">
      <% if @examination_board.number_to_evaluate == 1 %>
        <%= t('messages.examination_board.evaluated_status.one',
              number: @examination_board.number_to_evaluate) %>
      <% else %>
        <%= t('messages.examination_board.evaluated_status.other',
              number: @examination_board.number_to_evaluate) %>
      <% end %>
    </div>
  <% end %>
<% end %>
