<% provide(:page_title, t('breadcrumbs.examination_boards.index')) %>
<% provide(:head_title, t('breadcrumbs.examination_boards.index')) %>

<div class="row">
  <div class="col-12">
    <%= render 'shared/search', 
      url: academics_examination_boards_search_path,
      search_term: params[:term] %>
  </div>
</div>

<%= turbo_frame_tag "examination_boards_table" do %>
  <%= render 'shared/examination_boards/table', examination_boards: @examination_boards, namespace: 'academics' %>
<% end %>
