<% examination_boards.each do |examination_board| %>
  <div class="site-table table-responsive mb-4">
    <table class="table table-striped table-vcenter">
      <tbody>
        <tr>
          <%= render('shared/no_results') if examination_boards.empty? %>
        </tr>
        <%= render('site/examination_boards/examination_board', examination_board: examination_board) %>
      </tbody>
    </table>
  </div>
<% end %>
