<h2 class="page-title mb-2">
  <%= page.menu_title %>
</h2>

<div class="text-right mb-3">
  <%= t('helpers.page_entries_info.one_page.display_entries', count: orientations.count, entry_name: 'TCC aprovado').html_safe %>
</div>

<% orientations.each do |orientation| %>
  <div class="orientations mb-4">
    <%= render "site/orientations/orientation", orientation: orientation %>
  </div>
<% end %>
