<% if tcc_two_orientations.present? %>
   <h2 class="mb-3"><%= orientations_title %></h2>
<% end %>

<% if tcc_two_orientations.present? %>
   <div id="tcc_two">
      <%= render 'site/orientations/table', orientations: tcc_two_orientations %>
   </div>
<% end %>

<% if tcc_two_supervisions.present? %>
   <h2 class="mb-3"><%= supervisions_title %></h2>
<% end %>

<% if tcc_two_supervisions.present? %>
   <div id="tcc_two">
      <%= render 'site/orientations/table', orientations: tcc_two_supervisions %>
   </div>
<% end %>
