<h2 class="page-title mb-3">
  <%= t('site.pages.professors.orientations.tcc_one.label') %>
</h2>

<div>
  <professors-total-orientations-report
    :report="<%= @professor.total_orientations_report[:tcc_one].to_json %>"
    title="<%= t('site.pages.professors.orientations.tcc_one.label') %>" />
</div>

