<ul class="nav nav-tabs">
  <% @orientation.calendars.order(year: :desc, semester: :desc).each do |calendar| %>
    <li class="nav-item">
      <%= active_link_to(professors_supervision_calendar_activities_path(@orientation, calendar), class: 'nav-link') do %>
        <%= calendar.year_with_semester_and_tcc %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= render 'shared/orientation_activities/table', namespace: 'professors/supervision_activities' %>
