<% provide(:page_title, @title) %>
<% provide(:head_title, @title) %>

<div class="row">
  <div class="col-sm-12 col-lg-8 mb-2">
    <%= render 'shared/orientations/search', url: @search_url, search_term: params[:term] %>
  </div>
</div>

<%= render('supervisor_tabs') %>

<% cache(@orientations) do %>
  <%= render Orientations::TableComponent.new(
    orientations: @orientations,
    namespace: :external_members,
    path_helper: :external_members_supervision_path,
    service_class: 'Orientations::Links::ExternalMembersService'
  ) %>
<% end %>
