<% provide(:head_title, "Home") %>

<div class="row">
  <div class="col-lg-3 order-lg-1 mb-4">
    <div class="list-group list-group-transparent mb-0">
      <a href="../docs/index.html" class="list-group-item list-group-item-action active">
        <span class="icon mr-3"><i class="fe fe-flag"></i></span>
        O TCC
      </a>
    </div>
    <!-- Components -->
    <div class="list-group list-group-transparent mb-0">
      <a href="../docs/alerts.html" class="list-group-item list-group-item-action">
        <span class="icon mr-3"><i class="fe fe-alert-triangle"></i></span>
        Fluxo de atividades
      </a>
      <a href="../docs/avatars.html" class="list-group-item list-group-item-action">
        <span class="icon mr-3"><i class="fe fe-user"></i></span>
        Professores
      </a>
      <a href="../docs/buttons.html" class="list-group-item list-group-item-action">
        <span class="icon mr-3"><i class="fe fe-plus-square"></i></span>
        TCCs aprovados
      </a>
      <a href="../docs/colors.html" class="list-group-item list-group-item-action">
        <span class="icon mr-3"><i class="fe fe-feather"></i></span>
        TCCs em andamento
      </a>
      <a href="../docs/cards.html" class="list-group-item list-group-item-action">
        <span class="icon mr-3"><i class="fe fe-image"></i></span>
        Documentos do TCC
      </a>
      <a href="../docs/charts.html" class="list-group-item list-group-item-action">
        <span class="icon mr-3"><i class="fe fe-pie-chart"></i></span>
        Agenda do TCC
      </a>
      <a href="../docs/form-components.html" class="list-group-item list-group-item-action">
        <span class="icon mr-3"><i class="fe fe-check-square"></i></span>
        Modelo LaTeX da UTFPR
      </a>
      <a href="../docs/tags.html" class="list-group-item list-group-item-action">
        <span class="icon mr-3"><i class="fe fe-tag"></i></span>
        Ajuda
      </a>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <div class="card-body">
        <div class="text-wrap p-lg-6">
          <h2 class="mt-0 mb-4">Introduction</h2>
        </div>
      </div>
    </div>
  </div>
</div>
