<% provide(:head_title, @page.menu_title) %>

<h2 class="page-title">
  <%= t('site.pages.professors.effective') %>
</h2>

<%= render 'site/professors/table', professors: @effective_professors %>

<h2 class="page-title">
  <%= t('site.pages.professors.temporary') %>
</h2>

<%= render 'site/professors/table', professors: @temporary_professors %>

