.custom-file-input ~ .custom-file-label::after {
  content: "Procurar";
}

@media (max-width: 767px) {
  #select-activity-calendar {
    margin-top: 10px;
  }
}

.border-green .CodeMirror {
  border: 1px solid #5eba00;
  border-top: 0;
}

.border-green .editor-toolbar {
  border: solid 1px #5eba00;
}

.border-green .custom-file-label {
  border: solid 1px #5eba00;
}