.sidebar {
  position: fixed;
  padding-left: 10px;

  @media (max-width: 767px) {
    position: sticky;
  }
}

.sidebar-heading {
  font-size: .85rem;
  text-transform: uppercase;
  color: #467fcf !important;
  font-weight: bold;
}
