<% provide(:page_title, @title) %>
<% provide(:head_title, @title) %>

<div class="row">
  <div class="col-12">
    <search url="<%= tcc_one_professors_calendar_orientations_search_path(@calendar) %>"
            search-term="<%= params[:term] %>" />
  </div>
</div>

<div class="text-right mt-3">
  <%= page_entries_info @orientations %>
</div>

<%= render('shared/orientations/table') %>
