<% provide(:page_title, @title) %>
<% provide(:head_title, @title) %>

<div class="row">
  <div class="col-sm-12 col-lg-8">
      <%= render 'shared/orientations/search',
               url: tcc_one_professors_calendar_orientations_search_path(@calendar),
               search_term: params[:term] %>
  </div>
</div>

<%= render Orientations::TableComponent.new(
  orientations: @orientations,
  namespace: :tcc_one_professors,
  path_helper: ->(orientation) { tcc_one_professors_calendar_orientation_path(@calendar, orientation) }
) %>
