<% provide(:page_title, t('breadcrumbs.examination_boards.index')) %>
<% provide(:head_title, t('breadcrumbs.examination_boards.index')) %>

<div class="row">
  <div class="col-12">
    <search url="<%= professors_examination_boards_search_path %>" search-term="<%= params[:term] %>" />
  </div>
</div>

<%= render 'shared/examination_boards/table' %>

<%= paginate @examination_boards %>
