<div class="clearfix">
  <button class="btn btn-outline-primary float-right mb-4">
    Gerar Ata de Defesa
  </button>
</div>

<%= render 'shared/examination_boards/show', back_url: professors_examination_boards_path %>
