<% unless @documents.empty? %>
  <div class="card col-12">
    <div class="card-header">
      <h3 class="card-title">
        <%= t('breadcrumbs.documents.recent.pending') %>
      </h3>
    </div>
    <div class="table-sm table-responsive">
      <%= render 'shared/documents/table' %>
    </div>
  </div>
<% end %>

