<% unless @examination_boards.empty? %>
  <div class="card col-12">
    <div class="card-header">
      <h3 class="card-title">
        <%= t('breadcrumbs.examination_boards.recent') %>
      </h3>
    </div>
    <div class="table-sm table-responsive">
      <%= render 'shared/examination_boards/table' %>
    </div>
  </div>
<% end %>

