<div class="row">
  <div class="col-md-4 col-sm-12">
    <%= render Charts::CardReportNumberComponent.new(
        label: "Cadastrados no SGTCC",
        background_color: "primary",
        number: professors[:total],
        title: "Professores",
        redirect: "/responsible/professors"
    ) %>
  </div>

  <div class="col-md-4 col-sm-12">
    <%= render Charts::CardReportNumberComponent.new(
        label: "Disponíveis para orientação",
        background_color: "green",
        number: professors[:available],
        title: "Professores",
        redirect: "/responsible/professors/available"
    ) %>
  </div>

  <div class="col-md-4 col-sm-12">
    <%= render Charts::CardReportNumberComponent.new(
        label: "Indisponíveis para orientação",
        background_color: "red",
        number: professors[:unavailable],
        title: "Professores",
        redirect: "/responsible/professors/unavailable"
    ) %>
  </div>
</div>
