<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= active_link_to(responsible_base_activities_tcc_one_path, class: 'nav-link') do %>
      TCC 1
    <% end %>
  </li>
  <li class="nav-item">
    <%= active_link_to(responsible_base_activities_tcc_two_path, class: 'nav-link') do %>
      TCC 2
    <% end %>
  </li>
</ul>

