/*************************************************************
 * Vue Tables 2
 **************************************************************/
.VueTables {
  .VueTables__search {
    float: none !important;
  }

  .VueTables__search-field {
    input[type="text"].form-control {
        width: 100%;
    }
  }

  .VuePagination {
    justify-content: center;
  }
}

