<tr>
  <%= render 'shared/meetings/tbody', meeting: meeting %>
  <td>
    <%= render 'shared/links',
      resource_link: professors_meeting_path(meeting),
      edit_link: edit_professors_meeting_path(meeting) %>
  </td>
</tr>
