<% provide(:page_title, t('breadcrumbs.meetings.index')) %>
<% provide(:head_title, t('breadcrumbs.meetings.index')) %>

<div class="row">
  <div class="col-sm-12 offset-lg-8 col-lg-4">
    <%= render 'shared/meetings/new_button' %>
  </div>
</div>

<%= render 'shared/meetings/table' %>
