<div class="row">
  <div class="col-12">
    <%= link_to(new_professors_meeting_path, class: 'btn btn-outline-primary d-block') do %>
      <i class="fe fe-plus"></i>
      <%= t('breadcrumbs.meetings.new') %>
    <% end %>
  </div>
</div>

<%= render 'shared/meetings/table' %>
