<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center p-3">

      <div class="col-lg-3 ml-auto">
        <form class="input-icon my-3 my-lg-0">
          <input type="search" class="form-control header-search" placeholder="<%= t('search') %>&hellip;" tabindex="1">

          <div class="input-icon-addon">
            <%= icon('fas', 'search') %>
          </div>
        </form>
      </div>

    </div><!-- div.row align-items-center !-->
  </div><!-- div.container !-->
</div><!-- div.header collapse !-->
